include LICENSE
include doc/pypi/long_description.md
include setup.py
include src/speaking_eye/config/config.yaml
recursive-include src/speaking_eye/assets *
recursive-include src/speaking_eye/i18n *
recursive-include src/speaking_eye/icon *
exclude README.md
